# Exclude unecessary folders
.github
.husky
.next
node_modules

# Exclude tests
cypress
cypress.config.ts

# Exclude configuration files
.dockerignore
.eslint*
.gitignore
.lintstagedrc.js
.prettier*
*docker-compose*
*Dockerfile*

# Exlude documentation
docs
*.md

npm-debug.log

# Environment variables
.env
.env.docker.local
production.env
